<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kpu.academy.mapper.LectureMapper">

	<insert id="create">
		insert into lecture (lname, day, startTime, endTime, personnel, room, target, uno)
		values (#{lname}, #{day}, #{startTime}, #{endTime}, #{personnel}, #{room}, #{target}, 
		(select uno from user where name=#{teacher} and role="강사"))
	</insert>

	<select id="read" resultType="LectureVO">
		SELECT lno, lname, user.name as teacher, day, startTime, endTime, personnel, room, target
		FROM lecture JOIN user ON lecture.uno = user.uno
		WHERE lno = #{lno}
	</select>
	
	<update id="update">
		update lecture set lname=#{lname}, day=#{day}, startTime=#{startTime}, endTime=#{endTime}, personnel=#{personnel}, room=#{room}, target=#{target}, uno=#{uno}
		where lno = #{lno}
	</update>
	
	<delete id="delete">
		delete from lecture where lno = #{lno}
	</delete>
	
	<select id="listAll" resultType="LectureVO">
	<![CDATA[
		SELECT lno, lname, user.name as teacher, day, startTime, endTime, personnel, room, target
		FROM lecture JOIN user ON lecture.uno = user.uno
		ORDER BY lno DESC
	]]>
	</select>
	
	<select id="listPage" resultType="LectureVO">
	<![CDATA[
		SELECT lno, lname, user.name as teacher, day, startTime, endTime, personnel, room, target
		FROM lecture JOIN user ON lecture.uno = user.uno
		ORDER BY lno DESC
		LIMIT #{pageStart}, #{perPageNum}
	]]>
	</select>
	
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(lno)
		FROM lecture
	]]>
	</select>
</mapper>