<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kpu.academy.mapper.NoticeMapper">

	<insert id="create">
		insert into notice (title, content, uno, lno)
		values (#{title}, #{content}, #{uno}, #{lno})
	</insert>

	<select id="read" resultType="NoticeVO">
		select nno, title, content, user.name as writer, notice.regDate, viewCnt, lname, notice.lno, notice.uno
		from notice join user on notice.uno = user.uno
        join lecture on notice.lno = lecture.lno
        where notice.nno = #{nno}
	</select>
	
	<update id="updateViewCnt">
		update notice set viewCnt = viewCnt + 1
		where notice.nno = #{nno}
	</update>
	
	<update id="update">
		update notice set title=#{title}, content=#{content}, modDate=now()
		where nno = #{nno}
	</update>
	
	<delete id="delete">
		delete from notice where nno = #{nno}
	</delete>
	
	<select id="listAll" resultType="NoticeVO">
	<![CDATA[
		select nno, title, content, user.name as writer, notice.regDate, viewCnt, lname, notice.lno
		from notice join user on notice.uno = user.uno
        join lecture on notice.lno = lecture.lno
        where notice.lno = #{lno}
		order by nno desc, notice.regDate desc
	]]>
	</select>
	
	<select id="listPage" resultType="NoticeVO">
	<![CDATA[
		select nno, title, content, user.name as writer, notice.regDate, viewCnt, lname, notice.lno
		from notice join user on notice.uno = user.uno
        join lecture on notice.lno = lecture.lno
        where notice.lno = #{lno}
		order by nno desc, notice.regDate desc
		limit #{pageStart}, #{perPageNum}
	]]>
	</select>
	
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(nno)
		FROM notice
		WHERE lno = #{lno}
	]]>
	</select>
</mapper>